@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli Pizze</h1>
            </div>
            <div id="pizza_container">
                
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        axios.get(`https://localhost:7237/api/pizze/${id}`).then((res) => {
            let pizza = res.data;
            console.log('pizza ricevuta', pizza);


            document.getElementById('pizza_container').innerHTML +=
                `
                                            <div class="post-single-image-container">
                            <img src="${pizza.immagine}" width=100%>
                        </div>
                        <p>
                            <strong>Nome:</strong>
        ${pizza.nome}
                        </p>
                        <p>
                            <strong>Ingredienti:</strong>
        ${pizza.descrizione}
                        </p>
                        <p>
                            <strong>Categoria:</strong>
        ${pizza.categoriaNome}
                        </p>
                        <p>                      
                                `;

        });
    </script>
}